.item-content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item__image {
  width: 40%;
  padding: 20px 2%;
}

.item-information {
  width: 60%;
  min-width: 400px;
  max-width: 700px;
  padding: 0px 2%;
}

.item-information__main-heading {
  margin: 0px;
  font-size: 30px;
}

.item-information__label--brand {
  margin: 0;
}

.item-information__label--price {
  margin: 20px 0px;
  font-size: 30px;
}

.item-icon {
  display: flex;
}

.item-icon__link--active {}

.item-icon__link--inactive {
  cursor: default;
  pointer-events: none;
}

.item-icon__group {
  margin: 0px 20px;
}

.item-icon__image {}

.item-icon__label {
  width: 100%;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

.item-form__link--active {
  display: block;
  width: 100%;
  height: 40px;
  margin: 15px auto 0px auto;
  padding: 5px 10px;
  background-color: #f05454;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: large;
  text-align: center;
  text-decoration: none;
}

.item-form__link--inactive {
  display: block;
  width: 100%;
  height: 40px;
  margin: 15px auto 0px auto;
  padding: 5px 10px;
  background-color: #c0c0c0;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: large;
  text-align: center;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.item-information__sub-heading {
  margin-bottom: 0px;
  font-size: 28px;
}

.item-information__label--description {
  padding-left:10px;
  font-size: large;
}

.item-category {
  display: flex;
  margin-top: 10px;
}

.item-category__heading {
  width: 100px;
  min-width: 100px;
  margin: 0px;
  padding: 2px 0px;
  font-size: large;
}

.item-category__group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item-category__label {
  margin: 0px;
  padding: 2px 10px;
  background-color: #e0e0e0;
  border-radius: 20px;
}

.item-condition {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.item-condition__heading {
  width: 100px;
  margin: 10px 0px;
  padding: 2px 0px;
  font-size: large;
}

.item-condition__group {}

.item-condition__label {
  margin: 0px 10px;
  padding: 2px 10px;
  border-radius: 20px;
}

.item-comment {}

.item-comment__user-group {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.item-comment__user-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: #e0e0e0;
  border-radius: 50%;
}

.item-comment__user-name {
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
}

.item-comment__text {
  width: 100%;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.item-form__textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

.item-form__button--active {
  width: 100%;
  height: 40px;
  margin: 15px auto 0px auto;
  background-color: #f05454;
  border: none;
  color: #ffffff;
  font-size: large;
  border-radius: 5px;
}

.item-form__button--inactive {
  width: 100%;
  height: 40px;
  margin: 15px auto 0px auto;
  background-color: #c0c0c0;
  border: none;
  color: #ffffff;
  font-size: large;
  border-radius: 5px;
  cursor: default;
  pointer-events: none;
}

.item-form__error-message {
  margin: 0;
  font-size: large;
  color: #f05454;
}