.profile__group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto 20px auto;
}

.profile__image {
    width: 150px;
    margin: 20px;
    height: 150px;
    object-fit: contain;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.profile__group--detail {
}

.profile__label {
    width: 100%;
    margin: 0px auto 0px auto;
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__link {
    height: 60px;
    margin-right: 0;
    margin-left: 10%;
    padding: 10px 30px;
    background-color: #ffffff;
    border: 1px #f05454 solid;
    border-radius: 5px;
    color: #f05454;
    font-size: 26px;
    text-decoration: none;
}

.profile__group--rating {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile__rating {
    width: 40px;
}

@media (max-width: 1200px) {
    .profile__rating {
        width: 30px;
    }

    .profile__link {
        margin-right: 0;
        margin-left: 10%;
        padding: 10px 10px;
    }
}
